[package]
name = "Pyth"
version = "0.0.1"
upgrade_policy = "compatible"

[dependencies]
AptosFramework = { git = "https://github.com/aptos-labs/aptos-core.git", subdir = "aptos-move/framework/aptos-framework/", rev = "351918d1c8ab13db2b586851c480df1036593cfb" }
MoveStdlib = { git = "https://github.com/aptos-labs/aptos-core.git", subdir = "aptos-move/framework/move-stdlib/", rev = "351918d1c8ab13db2b586851c480df1036593cfb" }
AptosStdlib = { git = "https://github.com/aptos-labs/aptos-core.git", subdir = "aptos-move/framework/aptos-stdlib/", rev = "351918d1c8ab13db2b586851c480df1036593cfb" }
AptosToken = { git = "https://github.com/aptos-labs/aptos-core.git", subdir = "aptos-move/framework/aptos-token/", rev = "351918d1c8ab13db2b586851c480df1036593cfb" }
Wormhole = { git = "https://github.com/tauruslabs/wormhole.git", subdir = "aptos/wormhole", rev = "main" }
Deployer = { git = "https://github.com/tauruslabs/wormhole.git", subdir = "aptos/deployer", rev = "main" }

[addresses]
pyth = "0x7e783b349d3e89cf5931af376ebeadbfab855b3fa239b7ada8f5a92fbea6b387"
deployer = "0xb31e712b26fd295357355f6845e77c888298636609e93bc9b05f0f604049f434"
wormhole = "0x5bc11445584a763c1fa7ed39081f1b920954da14e04b32440cba863d03e19625"

[dev-addresses]
# Note that these are localnet addresses, for use in testing. The contracts are deployed to the real networks at the
# addresses documented at https://docs.pyth.network/documentation/pythnet-price-feeds/aptos#addresses
pyth = "0x377f0d7c4aaeea8dd73a7a2c6bc817e59aea569e1f9ae0d2f4a80ea1be93bf01"
deployer = "0x277fa055b6a73c42c0662d5236c65c864ccbf2d4abd21f174a30c8b786eab84b"
wormhole = "0xde0036a9600559e295d5f6802ef6f3f802f510366e0c23912b0655d972166017"
